s.directory
machineid
sync.lock
common/.config/Code/Preferences
common/.config/Code/storage.json
common/.config/Code/Backups
common/.config/Code/Cache
common/.config/Code/CachedData
common/.config/Code/CachedExtensions
common/.config/Code/Cookies
common/.config/Code/Cookies-journal
common/.config/Code/GPUCache
common/.config/Code/logs
common/.config/Code/workspaceStorage/
common/.vscode
_TEMP
common/.local/share/fonts/.uuid
