# ALIAS
alias ..="cd .."
alias ...="cd ../.."
alias ls="ls -al"
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"
alias dirs="dirs -v"
alias ip="ip -c"
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"
alias path='echo -e ${PATH//:/\\n}'