# ALIAS
alias ..="cd .."
alias ...="cd ../.."
alias doc="cd Documents"
alias ls="ls -al --color=auto"
alias ll="ls -lah"
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"
alias dirs="dirs -v"
alias tms="tmux new -s"	
alias tls="tmux ls"
alias tmk="tmux kill-session -t"
alias ip="ip -c"
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"
alias pacman="pacman --color=always"
alias .vimrc="vim ~/.vimrc"
alias .vimplug="vim ~/.vim/plugins.vim"
alias path='echo -e ${PATH//:/\\n}'
